/* NewsfeedDetail */
.feed-detail {
  border: 1px solid;
  padding: 10px;
}
.feed-detail-userprofile-box {
  display: flex;
}
.feed-detail-userprofile-img {
  cursor: pointer;
  width: 10%;
  margin: 10px;
}
.feed-detail-userprofile-content {
  margin: 10px;
  text-align: left;
  align-items: bottom;
}
.feed-detail-userprofile-name {
  cursor: pointer;
}
.feed-detail-tag {
  text-align : left;
  margin: 10px;
}
.feed-detail-content-box {
  width: 100%;
}
.feed-detail-img {
  width: 100%;
}
.feed-detail-content {
  margin: auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  text-align: left;
  width: 95%;
}
.feed-detail-modi-delete {
  margin: 10px;
  text-align: right;
}
.feed-detail-like-comment {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.feed-detail-like-comment-share-btn-box {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.feed-detail-like-comment-share-btn {
  display: flex;
  width: 100%;
  height:50px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.feed-detail-like-comment-share-btn:hover{
  background-color: rgb(233, 232, 232);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.feed-detail-comment-input-box {
  display: flex;
  width: 100%;
}
.feed-detail-comment-img {
  margin: 10px;
  width: 5%;
}
.feed-detail-comment-input {
  margin: 10px;
  width: 90%;
  padding: 5px;
}
.feed-detail-comment-btn {
  font-size: 20px;
  margin: 10px;
  width: 5%;
  padding: 5px;
}
/* NewsfeedPersonal */
.newsfeed {
  min-height: 100vh;
  width: 80%;
  position: absolute;
  top: 300px;
  border-radius: 50px;
  background-color: white;
  /* padding: 15px; */
  /* margin: 0 auto; */
  margin-left: 300px;
}
.newsfeed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  width: 80%;
}
.loading {
  display: flex;
  width: 100%;
  padding: auto;
}
.spinner {
  margin: auto;
  animation: spin 1000ms infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* NewsfeedList */

.feed-box {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.feed-create-btn-place {
  /* margin-left: auto;0 */
  position: fixed;
  bottom: 50px;
  right: 10px;
  text-align: right;
}
.feed-create-btn {
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}
.feed-create-btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.feed-last {
  text-align: center;
  margin: auto;
}
.loading {
  display: none;
}
/* NewsfeedForm */
/* .newsfeed-form-content {
  text-align: center;
  border: 1px solid;
  padding: 20px;
} */
/* .newsfeed-form-content div {
  margin: 10px;
  padding: 10px; */
  /* padding: 10px; */
/* } */
.newsfeed-form {
  position: relative;
  top: 0;
}
.newsfeed-form-profile {
  display: flex;
}
.newsfeed-form-profile-img-space {
  width: 70px;
  height: 70px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsfeed-form-profile-img {
  width:70px;
  object-fit: cover;
}
.newsfeed-form-profile-name {
  font-size: 20pt;
  padding: 5px;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newsfeed-form-tag-input {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.newsfeed-form-content-input {
  width: 100%;
  /* border-radius: 5px; */
  padding: 10px;  
  margin-top: 20px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.newsfeed-form-file-box {
  display: flex;
  justify-content: space-evenly;
}
.newsfeed-form-img-box label {
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em;
}
.newsfeed-form-img-box input[type="file"] {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0;
}
.newsfeed-form-submit-btn {
  display: flex;
  justify-content: center;
}
/* NewsFeedList */
.spinner-container {
  display: flex;
  justify-content: center;
}
.feed-list {
  border: 1px solid;
  padding: 20px;
}
.feed-create-btn-place {
  /* margin-left: auto;0 */
  text-align: right;
}
.feed-create-btn {
  cursor: pointer;
  border: 1px solid;  
  border-radius: 5px;
  padding: 10px;
}
.feed-create-btn:hover {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

/* feed */
.feed-userprofile-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
}
.feed-userprofile-space {
  cursor: pointer;
  width: 60px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 5px;
}
.feed-userprofile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-userprofile-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.feed-userprofile-name {
  cursor: pointer;
}
.feed-content-box {
  cursor: pointer;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.feed-content-box div {
  display: flex;
  justify-content: center;
}
.feed-content-box img {
  max-width: 100%;
  max-height: 300px;
}
.feed-content-box p {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.feed-tag-box {
  display: flex;
}
.feed-footer {
}
.feed-date {
  /* width: 50%; */
}
.feed-like-comment-box {
  width: 100%;
  cursor: pointer;
  text-align: right;
  align-items: center;

}
.feed-footer-box{
  display: flex;
  padding : 10px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}