/* NewsfeedDetail */
.feed-detail {
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 15%);
}
.feed-detail-userprofile {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.feed-detail-userprofile-box {
  display: flex;
}
.feed-detail-userprofile-img {
  cursor: pointer;
  width: 10%;
  margin: 10px;
}
.feed-detail-userprofile-content {
  margin: 10px;
  text-align: left;
  align-items: bottom;
}
.feed-detail-userprofile-name {
  cursor: pointer;
}
.feed-detail-userprofile-dropBtn {
  margin: 20px;
  cursor: pointer;
  position: relative;
}
.feed-detail-tag {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}
.feed-detail-content-box {
  width: 100%;
  margin: auto;
}
.feed-detail-content-box-innerbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.feed-detail-img-containerFrame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-detail-img {
  /* padding: 10px; */
  width: 65%;
}
.feed-detail-content {
  text-align: left;
  width: 100%;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.feed-detail-modi-delete {
  margin: 10px;
  text-align: right;
}
.feed-detail-like-comment {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.feed-detail-like-comment-share-btn-box {
  display: flex;
  justify-content: space-evenly;
  border-top: 1.5px solid var(--bold-brown);
  border-bottom: 1.5px solid var(--bold-brown);
}
.feed-detail-like-comment-share-btn {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.feed-detail-like-comment-share-btn:hover {
  background-color: #e6d1c4;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.feed-detail-comment-input-box {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-detail-comment-img {
  width: 35px;
}
.feed-detail-comment-input {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: none;
  height: 50%;
}
.feed-detail-comment-btn {
  width: 5%;
}
.newsfeed-detail-not-member {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsfeed-detail-not-member > div {
  color: white;
  margin: 10px;
}
.newsfeed-detail-not-member-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* NewsfeedPersonal */
.upper-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 48px;
  height: 70px;
  background-color: var(--bg-color);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  z-index: 700;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-navbar.active {
  top: -80px;
}

.newsfeed-recommend-place {
  margin-bottom: 50px;
  background-color: var(--white-color);
  border-radius: 5px;
}

.newsfeed {
  /* width: 80%; */
  /* position: absolute;
  top: 300px; */
  /* left: 350px;
  right: 50px; */
  border-radius: 50px;
  /* background-color: var(--bg-color); */
  width: 50%;
  /* margin-top: 80px; */
}
.newsfeed-D {
  border-radius: 50px;
  margin-top: 80px;
  width: 50%;
}
.newsfeed-body {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  /* margin-top: 10px; */
  background-color: #fffcf9;
  padding-top: 70px;
  /* margin-bottom: 5px; */
}
.newsfeed-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 450px;
  box-shadow: 0px 5px 10px rgba(0, 1, 0.5, 0.2);
  /* background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://cdn.pixabay.com/photo/2017/08/02/01/29/lifestyle-2569543_960_720.jpg")
      no-repeat center center; */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center 40% !important;
  margin-top: 70px;
}
.loading {
  display: flex;
  width: 100%;
  padding: auto;
}
.spinner {
  margin: auto;
  animation: spin 1000ms infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.newsfeed-loading-box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsfeed-loading-box > div {
  color: var(--bold-brown)
}
.newsfeed-loading {
  font-size: 50px;
  margin: 10px;
  color: var(--bold-brown)
}
/* NewsfeedList */
.feed-header {
  font-size: 24px;
  font-weight: bold;
  /* background-color: #fff9f3; */
  border-radius: 5px;
  padding: 20px 10px;
}
.feed-box {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  padding: 10px 0;
  background-color: var(--white-color);
  border-radius: 5px;
}
.feed-create-btn-place {
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 700;
}
.feed-create-btn {
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  z-index: 700;
  /* padding: 10px; */
}
.feed-last {
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.loading {
  display: none;
}

.newsfeed-form {
  margin-top: 70px;
}
.newsfeed-form-category {
  margin: 10px 30px;
  cursor: pointer;
}
.newsfeed-form-profile {
  padding: 10px;
  display: flex;
}
.newsfeed-form-profile-img-space {
  width: 60px;
  height: 60px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsfeed-form-profile-img {
  width: 70px;
  object-fit: cover;
}
.newsfeed-form-profile-name {
  font-size: 24px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsfeed-form-tag-input-container {
  border-radius: 5px;
  /* margin: 10px; */
  width: 100%;
}
.tag-input-frame {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-input-frame i {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}
.tag-describe {
  display: none;
}
.tag-describe.active {
  display: block;
  width: 100%;
  word-break: keep-all;
  font-size: 14px;
  margin-top: 10px;
  padding: 0 10px;
}
.newsfeed-form-tag-input {
  width: 90%;
  padding: 10px;
  border: 0;
  background-color: #fff9f3;
  border-bottom: 2px solid rgb(158, 127, 109);
}
.newsfeed-form-tag-container {
  margin: 10px;
  min-height: 30px;
}
.newsfeed-form-content-input-container {
  width: 100%;
  /* margin: 10px; */
}
.newsfeed-form-content-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff9f3;
  border-radius: 5px;
}
.newsfeed-form-content-input:focus {
  outline-color: rgb(158, 127, 109);
}
.newsfeed-form-file {
  background-color: #fff9f3;
  border-radius: 5px;
  margin: 24px 0 24px 0;
}
.newsfeed-form-file-hr-box {
  display: flex;
  justify-content: center;
}
.newsfeed-form-file-hr {
  border-top: 2px solid #b29887;
  width: 97%;
  text-align: center;
}
.newsfeed-form-file-box {
  display: flex;
  position:relative;
  /* justify-content: space-around; */
  width: 100%;
  flex-wrap: wrap;
  /* background-color: #b29887; */
  padding: 0.5em 0.75em;
  margin: 24px 0px 0px 0px;
  /* border-bottom: 2px solid #b29887; */
}
.newsfeed-form-img-box label {
  margin: 24px;
  position: relative;
  height: 100px;
  width: 100px;
  border: 2px dashed rgb(158, 127, 109);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0.5em 0.75em; */
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}
.newsfeed-form-img-box label >div {
  padding: 5px;
}
.newsfeed-form-img-label-btn {
  font-size: 24px;
}
.newsfeed-form-img-box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.newsfeed-form-img-guide {
  background-color: #fff9f3;
  width: 100%;
  padding: 24px;
  border-radius: 5px;
  /* border-bottom: 1px solid rgb(158, 127, 109); */
}
.newsfeed-form-img-guide li {
  font-size: 14px;
}
.newsfeed-form-submit-btn {
  display: flex;
  justify-content: center;
}
.newsfeed-form-input-map {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  /* border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
}
.newsfeed-form-location {
  background-color: #fff9f3;;
  margin: 24px 0 24px 0;
  padding: 0.5em 0.75em;
  border-radius: 5px;
}
.newsfeed-form-location span {
  font-size: 14px;
}
.newsfeed-form-group-container {
  margin-left: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsfeed-form-group {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsfeed-form-group-btn{
  cursor: pointer;
}
.newsfeed-form-group-list-btn {
  margin-top: 20px;
  /* position: fixed;
  top: 0;
  right: 0; */
}
.newsfeed-form-group-none {
  color: white;
}
.newsfeed-form-group-redirect-btn {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
.newsfeed-form-group-redirect-btn:hover {
  text-decoration: underline;
  color: lightgrey;
}
.newsfeed-form-loading {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsfeed-form-loading > i {
  font-size: 50px;
  margin: 10px;
}

/* NewsFeedList */

.spinner-container {
  display: flex;
  justify-content: center;
}
.feed-list {
  border: 1px solid;
  padding: 20px;
}
/* .feed-create-btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
} */

/* feed */
.feed-group-box {
  display: flex;
  align-items: center;
  margin: 10px;

}
.feed-group-box-img {
  width: 30px;
  height: 30px;
}
.feed-group-name {
  font-size: 24px;
  cursor: pointer;
}
.feed-group-name:hover {
  text-decoration: underline;
  color: #b29887;
}
.feed-userprofile-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.feed-userprofile-space {
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.feed-userprofile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-userprofile-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.feed-userprofile-name {
  cursor: pointer;
}
.feed-userprofile-name:hover {
  text-decoration: underline;
  color: #b29887;
}
.feed-content-box {
  cursor: pointer;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feed-content-box div {
  display: flex;
  justify-content: center;  
}
.feed-content-box-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0, 0.8);
}
.feed-content-box img {
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: scale-down;
  margin: 0;
}
.feed-content-box p {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.feed-content-box iframe {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.feed-tag-box {
  display: flex;
}
.feed-location {
  text-align: right;
}
.feed-footer {
}
.feed-date {
  font-size: 14px;
}
.feed-like-comment-box {
  width: 100%;
  cursor: pointer;
  text-align: right;
  align-items: center;
}
.feed-footer-box {
  cursor: pointer;
  display: flex;
  padding: 20px 20px 0 20px;
  justify-content: space-between;
}
.feed-footer-box > div {
  display: flex;
  align-items: center;
}

/* newsfeedheader */

/* .newsfeed-header-img-container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
} */
.newsfeed-header-img {
  /* position: absolute; */
  /* width: 25%;
  margin-right: 5%;
  object-fit: cover; */
  /* right: 0;
  top: 14vh; */
  /* height: 200px; */
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.45);
}
.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}
.newsfeed-header-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  /* justify-content: flex-end; */
  align-items: flex-end;
  margin-bottom: 150px;
  margin-right: 100px;
}
.newsfeed-header-title {
  
  /* position: relative; */
  /* margin-top: auto; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right; */
  /* margin-top: 100px; */
  /* bottom: 0; */
  margin-bottom: 20px;
  font-size: 60px;
  color: white;
  font-family: 'SDSamliphopangche_Outline';
  /* font-family: 'HSBombaram3_Regular'; */
  /* font-family: 'HSGyoulnoonkot'; */
  /* font-family: 'Cafe24Oneprettynight'; */
  /* font-family: 'JSDongkang-Regular'; */
}
.newsfeed-header-intro {
  text-align: right;
  color: white;
  font-size: 20px;
  /* font-family: 'MapoGoldenPier'; */
  /* font-family: 'JSDongkang-Regular'; */
}
/* newsfeedform */

.newsfeed-form-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newsfeed-form-img-prevbox-delbtn {
  margin: 5px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  color: red;
  cursor: pointer;
}
.newsfeed-form-img-prevbox-delbtn:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
.newsfeed-form-img-prevbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  /* border: 1px dashed; */
  margin: 24px;
  position: relative;
}
.newsfeed-form-img-prevbox img {
  max-width: 100%;
  max-height: 100%;
}
.create-feed-btn {
  height: 50px;
  background-color: #b29887;
  width: 200px;
  color: black;
  border-radius: 5px;
  margin-bottom: 70px;
}
.newsfeed-share-group-selector {
  margin: 10px;
  color: var(--white-color);
}